body {
  font-family: "DM Sans", sans-serif;
  background-color: #f2f5f7;
  line-height: 1.6;
  min-height: 300vh;
  position: relative;
}
 
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7.594rem;
}
h2{
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem; 
}
h3{
  font-family: "Playfair Display", serif;
  font-size: 3.375rem; 
}
h4{
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  color: c2b7bc;
}
h5{ 
  font-family: "Playfair Display", serif;
  color: c2b7bc;
  font-size: 1.5rem;
}
p{
  font-size: 1rem;
}

/*NAVBAR*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");


*,
*:after,
*:before {
  box-sizing: border-box;
}


:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #000;
}


.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


/* Sticky header */
.header-outer {
  /* Make it stick */
  height: var(--header-outer-height);
  position: sticky;
  top: calc(
    var(--header-height-difference) * -1
  ); /* Multiply by -1 to get a negative value */
  display: flex;
  align-items: center;




  /* Other */
  background-color: rgb(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
  z-index: 1000;
}


.header-inner {
  /* Make it stick */
  height: var(--header-inner-height);
  position: sticky;
  top: 0;


  /* Other */


  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Styling of other elements */
.header-logo img {
  display: block;
  height: calc(var(--header-inner-height) - 10px);
}


.header-navigation {
  display: flex;
  flex-wrap: wrap;
  color: white;
}


.header-navigation a,
.header-navigation button {
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  margin-left: 1.75rem;
  position: relative;
  font-weight: 500;
}


.header-navigation a {
  display: none;
  font-size: 1.125rem;
  color: inherit;
  text-decoration: none;
}


.header-navigation button {
  border: 0;
  background-color: transparent;
  padding: 0;
}


.header-navigation a:hover:after,
.header-navigation button:hover:after {
  transform: scalex(1);
}


.header-navigation a:after,
.header-navigation button:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}


.main {
  margin-top: 3rem;
}


.widget {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
  background-color: #fff;
  padding: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}


.widget > * + * {
  margin-top: 1.25em;
}


.widget h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}


.widget code {
  display: inline-block;
  padding: 0.125em 0.25em;
  border-radius: 2px;
  background-color: #bee5d3;
}


.widget strong {
  font-weight: 700;
}


@media (min-width: 800px) {
  .header-navigation a {
    display: inline-block;
  }


  .header-navigation button {
    display: none;
  }
}
 


/*HERO HEADER*/
body {
  margin: 0;
 }


 #myVideo {
  right: 0;
  width: 100%;
}


.bg-video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}






.titre-heroheader {
  text-align: center;
  color: white;
  padding-top: 20%;
 }
 .sous-titre {
 text-align: center;
 font-size: 20pt;
 color: white;
 }
 
 /*ligne blanche??*/


 /*BLOC 1 : A venir*/
 .background-1 {
  background-color: black;
  padding-top: 5%;
  padding-bottom: 8%;
 }
 
.bg1-txt {
  padding-bottom: 2%;
}


 .titre-bg1 {
  color: white;
  text-align: center;
 }
 
  /*CARDS*/
  body, html {
    height: 100%;
    margin: 0;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


  /*jsp pourquoi ça prend pas en compte le width et le height*/
.card {
    position: relative;
    width: 400px; /* Vous pouvez ajuster la largeur selon vos besoins */
    height: 400px; /* Assurez-vous que la hauteur est égale à la largeur pour obtenir une carte carrée */
    overflow: hidden;
    margin: 10px;
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}


.card:hover .overlay {
    opacity: 1;
}


.overlay h2,
.overlay p {
    margin: 0;
}


.overlay a.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #000; /* Couleur du fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    text-decoration: none;
    border: 1px solid #cacaca; /* Bordure du bouton */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s;
}


.overlay a.cta-button:hover {
    background-color: #cdcdcd;
    color: #000;
}










 /*BLOC 2*/
 .background-2 {
  background-color: #f2f5f7;
  padding: 5%;
  overflow: hidden;
 }
 
 /*BLOC 3*/
 .background-3 {
  background-color: black;
  padding-bottom: 5%;
  height:fit-content;
  overflow: hidden;
 }
 
 .bg3-txt {
  color: #fff;
  text-align: left;
  padding-left: 5%;
  padding-top: 3%;


 }
 
 .circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #3498db;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url(https://img.freepik.com/premium-vector/badge-news-logo-modern-flat-pictogram-business-marketing-internet-concept-symbol-website-design-buttons-mobile-app-news-vector-icon-globe-symbol-world_340607-38.jpg);
  background-size: contain;
 }

 .cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #000; /* Couleur du fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  text-decoration: none;
  border: 1px solid #cacaca; /* Bordure du bouton */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s, color 0.3s;
 }


  .cta-button:hover {
    background-color: #cdcdcd;
    color: #000;
  }
 
 .p-cercles {
  margin-bottom: 20px;
  text-align: center;
  color: white;
 }
 
 .column {
  width: 27%;
  float: left;
  margin: 3%;
  text-align: center;


 }
 
 /*BLOC 4*/
 .background-4 {
  background-color: #e0511d;
  padding: 5%;
 }
 
 
 .sous-sous-titre {
  color: black;
  text-align: center;
  padding-bottom: 30px;
 }

 .card-2 {
  background-image: url('https://images.bauerhosting.com/marketing/sites/16/2023/08/Bass-Guitars.jpg');
  background-size: cover;
  width: 18rem;
  height: 24rem;
  border-radius: 1rem;
  overflow: hidden;
  padding: 5rem 0 0;

  transition: transform 500ms ease;
}
.card-content {
  color:aliceblue;
  padding: 1.5rem;
  background: linear-gradient(
      hsl(350 20% 2% / 0),
      hsl(350 50% 5 / 1)
  );
  transform: translateY(60%);
  transition: transform 500ms ease-in-out;    
}


.card-2:hover{
  transform: scale(1.05);
}
.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 300ms linear;
}
.card-2:hover .card-content{
  transform: translateY(0);
}
.card-2:hover .card-content > *:not(.card-title){
  opacity: 1;
  transition-delay: 500ms;
}
 
 /*FOOTER*/
 .footer-titre {
  color: white;
 }
 
 
 .footer-soustitre {
  color: white;
  text-align: left;
  line-height: 12t;
 }
 
 
 .footer-rs {
  color: white;
  text-align: left;
  line-height: 6pt;
 }
 


.left-column {
  float: left;
  width: 50%;
  text-align: left;
}
.right-column {
  float: right;
  width: 50%;
  text-align: left;
}


footer {
  background-color: black;
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}


.left-section {
  text-align: left;
}


.right-section {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  text-align: left;
}




.image {
  height: 261px;
  width: 294px;
  }
  .image .sleep-token-new {
  height: 261px;
  left: 0;
  position: fixed;
  top: 0;
  width: 294px;
  }


  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


 /*MODAL BOX JE SAIS PAS OU JE LA METS*/
 /* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}


/* Other
 * =============================== */


.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}
